#cronometro { padding:10px; border: 5px #629c44 double; width: 230px;
              text-align: center; background-color: #c5e1a5; border-radius: 5px;
              float: left; margin: 2em 3em 2em 3em; }
#txtcountdown { padding: 5px 10px; width: 90% ;border: 1px solid black; 
         font: normal 3em digital_dream, europa, arial; text-align: center; 
         margin: 4px; background-color: #f0ffff; border-radius: 3px;  }
.borde{
	border-style: ridge; border-width: 4px;
	border-color: #aed581;
}
.bordesup{
	border-bottom: 5px ridge brown;
}
.bordesu{
	border-bottom: 5px ridge brown;
}
.otro{
	border-style: solid; 
	border-width: 1px; 
	border-color:#3a946b;
	 font-family: "ARIAL", serif;	
	  font-size: 109%;
	  font-weight:bold;
	  color:#000000;
	  border-collapse: separate;
  border-spacing:  0px;
}
.borderpath{
	margin-left: 1%;
    box-sizing: content-box;
    right: 0;
    border: none;
}
.searchcolor{
	color:red;
}

.ordfooter{

	text-align:center;
	background-color: #4095c5;
}
.formexa{
	margin-left: 15%;
    margin-top: 8%;
}
.hoja {
	border-color: #dddddd;
  margin-bottom: 0px;
  background-color: #fef1c3;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
background: linear-gradient(
                  #fef1c3 98%,
                  #e0b8b8 98%);
  background-size: 100% 40px;
  background-position: 0 1em;
line-height: 19px;
  }
  .hoja:before {
       
        left: -2em;
      }

  .containerexamen {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .containerexamen {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .containerexamen {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .containerexamen {
   /* width: 1170px;*/
  }

.estiloresultado {
  padding-left:15%;
  font-family:arial;
  font-weight: 700; 
  font-size: 22px;
}
@font-face {
    font-family: 'digital_dream';
    src: url('digital_dream/digitaldreamfatskew-webfont.eot');
    src: url('digital_dream/digitaldreamfatskew-webfont.eot?#iefix') format('embedded-opentype'),
         url('digital_dream/digitaldreamfatskew-webfont.woff2') format('woff2'),
         url('digital_dream/digitaldreamfatskew-webfont.woff') format('woff'),
         url('digital_dream/digitaldreamfatskew-webfont.ttf') format('truetype'),
         url('digital_dream/digitaldreamfatskew-webfont.svg#digital_dream_fat_skewregular') format('svg');
    font-weight: normal;
    font-style: normal;
}   


.defectoPanel{
  padding-top: 50px;

}
